<main id="connectedVet">
    <section class="section1Connected">
        <div class="dashboardDIV">
            <div id="animalReportEditionManager" class="managerDIV">
                <h4>Edition d'un rapport vétérinaire</h4>
            </div>
            <div id="animalReportEditionManagerBody" class="managerHide">
                Voici l'espace d'édition d'un rapport vétérinaire
            </div>
            
            <div id="habitatReportEditionManager" class="managerDIV">
                <h4>Edition d'un avis sur les habitats</h4>
            </div>
            <div id="habitatReportEditionManagerBody" class="managerHide">
                Voici l'espace d'édition d'un avis sur les habitats
            </div>

            <div id="animalMealViewManager" class="managerDIV">
                <h4>Visualisation des repas des animaux</h4>
            </div>
            <div id="animalMealViewManagerBody" class="managerHide">
                Voici l'espace de visualisation des repas des animaux
            </div>
        </div>
    </section>