<main id="connectedAdmin">
    <section class="section1Connected">
        <div class="dashboardDIV">

            <div id="animalsManager" class="managerDIV">
                <h4>Gestion animaux</h4>
            </div>
            <div id="animalsManagerBody" class="managerHide">
                Voici le nombre de visualisation par animal
            </div>

            <div id="animalsReportsManager" class="managerDIV">
                <h4>Rapports vétérinaires sur les animaux</h4>
            </div>
            <div id="animalsReportsManagerBody" class="managerHide">
                Voici les rapports sur les animaux du vétérinaire
            </div>

            <div id="habitatsReportsManager" class="managerDIV">
                <h4>Rapports vétérinaires sur les habitats</h4>
            </div>
            <div id="habitatsReportsManagerBody" class="managerHide">
                Voici les rapports sur les habitats des animaux du vétérinaire
            </div>
            
            <div id="accountsManager" class="managerDIV">
                <h4>Gestion des comptes</h4>
            </div>
            <div id="accountsManagerBody" class="managerHide">
                Voici l'espace de création, modification et suppression des comptes employés et vétérinaires
            </div>

            <div id="servicesManager" class="managerDIV">
                <h4>Gestion des services</h4>
            </div>
            <div id="servicesManagerBody" class="managerHide">
                Voici l'espace de création, modification et suppression des services
            </div>
        </div>
    </section>