<main id="connectedEmployee">
    <section class="section1Connected">
        <div class="dashboardDIV">
            <div id="reviewManager" class="managerDIV">
                <h4>Modération Avis</h4>
            </div>
            <div id="reviewManagerBody" class="managerHide">
                Voici l'espace de validation ou refus des avis
            </div>
            
            <div id="animalMealManager" class="managerDIV">
                <h4>Gestion des repas des animaux</h4>
            </div>
            <div id="animalMealManagerBody" class="managerHide">
                Voici l'espace gestion de repas des animaux
            </div>

            <div id="servicesManager" class="managerDIV">
                <h4>Gestion des services</h4>
            </div>
            <div id="servicesManagerBody" class="managerHide">
                Voici l'espace de création, modification et suppression des services
            </div>
        </div>
    </section>