<main id="habitats">
    <section class="section1Living">
        <div class="livingsList">
            <div class="savaneLiving lvg">
                <img src="../../../public/pictures/savaneLion.jpg" alt="Savane">
            </div>
            <div class="jungleLiving lvg">
                <img src="../../../public/pictures/chimpanzee.jpg" alt="Jungle">
            </div>
            <div class="swampLiving lvg">
                <img src="../../../public/pictures/swamp.jpg" alt="marais">
            </div>
        </div>
    </section>
    <div class="livingDescription">
        <h4>Découvrez les habitats et leurs animaux</h4>
        <div class="lvgCorps">
            <div class="presLvg">

            </div>
            <div class="lvgAnimalList">

            </div>
        </div>
    </div>