<section class="section1">
    <div class="presentationArcadia">
        <h1>Arcadia</h1>
        <p>
            <span>Découvrir, s'émerveiller et protéger.</span><br>
            Au zoo d'Arcadia, découvrez la beauté du monde animal, émerveillez-vous devant la diversité de la faune, et engagez-vous à protéger les animaux et notre planète pour les générations futures.
        </p>
    </div>
</section>
<section>
    Arcadia s'efforce de sensibiliser ses visiteurs à l'importance de la conservation et de l'écologie, tout en offrant un sanctuaire sûr et éducatif pour toutes les espèces qu'il abrite.
</section>