<main id="services">
    <section class="section1Service">
        <div class="servicesList">
            <div class="service">
                <h6>Visite guidée</h6>
            </div>
            <div class="service">
                <h6>Petit train</h6>
            </div>
            <div class="service">
                <h6>restauration</h6>
            </div>
        </div>
    </section>
    <div class="servicesDescription">
        <h4>Découvrez nos services</h4>
        <div class="serviceCorps">
            <div class="imgService">

            </div>
            <div class="presService">

            </div>
        </div>
    </div>