// Colors
$color1: #122638;
$color2: #ffffff;
$color3: #006600;
$color4: #004700;
$color5: #006666;
$color6: #3d6600;
$color7: #95DA82;

$color1Transparency: rgba(18, 38, 56, 0.9);

// Font-familly
$fontSerif:  Georgia, 'Times New Roman', Times, serif;
$fontNoSerif: Arial, Helvetica, sans-serif;

// LoopProperties
$liStyles: (
    padding-top: 3rem
);