@charset "UTF-8";
@font-face {
  font-family: "MaPolice";
  src: url("../fonts/CabinSketch-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MaPoliceTexte";
  src: url("../fonts/Fredoka-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ajuste la taille totale en tenant compte des padding et border */
}

header {
  color: #ffffff;
}
header .navMenu .hours {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 900px) {
  header {
    background-color: #122638;
    display: flex;
    padding-left: 14rem;
    height: 64px;
    align-items: center;
  }
  header .navMenu {
    display: flex;
    box-sizing: border-box;
    align-items: center;
  }
  header .navMenu .logo {
    position: fixed;
    top: 1rem;
    left: 4rem;
  }
  header .navMenu .logo img {
    width: 128px;
    height: auto;
    border-radius: 10px;
  }
  header .navMenu nav {
    font-family: Georgia, "Times New Roman", Times, serif;
    display: flex;
    padding-left: 1rem;
  }
  header .navMenu nav ul {
    display: flex;
  }
  header .navMenu nav ul li {
    list-style-type: none;
    padding-right: 2rem;
  }
  header .navMenu nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
  }
  header .navMenu nav ul li a:hover {
    color: #408e2a;
  }
  header .navMenu nav ul li .selected {
    border-top: solid 2px #408e2a;
    border-bottom: solid 2px #408e2a;
    color: #408e2a;
    padding: 0.5rem;
  }
  header .navMenu .hours img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.3rem;
  }
  header .navMenu .connexion {
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    right: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .navMenu .connexion:hover {
    background-color: #408e2a;
  }
  header .navMenu .connexion img {
    width: 1.5rem;
    height: auto;
  }
  header .burgerMenu {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  header {
    background-color: #122638;
    text-align: center;
    display: flex;
    height: 64px;
    justify-content: center;
  }
  header .navMenu {
    display: flex;
    box-sizing: border-box;
    align-items: center;
  }
  header .navMenu .logo {
    position: fixed;
    top: 0.7rem;
    left: 1rem;
  }
  header .navMenu .logo img {
    width: 64px;
    height: auto;
    border-radius: 10px;
  }
  header .navMenu .navList {
    display: none;
  }
  header .navMenu .hours img {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.2rem;
  }
  header .navMenu .connexion {
    display: none;
  }
  header .navMenuMobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 38, 56, 0.9);
    font-family: Georgia, "Times New Roman", Times, serif;
    z-index: 1;
  }
  header .navMenuMobile .navList {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  header .navMenuMobile .navList .linkList {
    padding-top: 4rem;
  }
  header .navMenuMobile .navList .linkList li {
    list-style-type: none;
    padding-top: 1.5rem;
  }
  header .navMenuMobile .navList .linkList li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
  }
  header .navMenuMobile .navList .linkList li a:hover {
    color: #408e2a;
  }
  header .navMenuMobile .navList .linkList li .selected {
    color: #408e2a;
    padding: 0.5rem;
  }
  header .navMenuMobile .hours {
    display: none;
  }
  header .navMenuMobile .connexion {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: #ffffff;
    border-radius: 50%;
    color: #ffffff;
    font-size: smaller;
    font-weight: 600;
    margin: 6rem auto 0;
  }
  header .navMenuMobile .connexion:hover {
    background-color: #408e2a;
  }
  header .navMenuMobile .connexion img {
    display: block;
    width: 1.5rem;
    height: auto;
  }
  header .burgerMenu {
    display: block; /* Afficher le bouton burger */
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: #408e2a;
    font-size: xx-large;
    top: 0.4rem; /* Ajustez la position selon vos besoins */
    right: 1rem; /* Ajustez la position selon vos besoins */
    z-index: 1000;
    cursor: pointer;
  }
  header .burgerMenu::before {
    content: "☰";
  }
  header .crossIcon::before {
    content: "✖";
  }
}
.section1 {
  background: url("../pictures/fox2.jpg"); /* pour anciens Chrome et Safari */
  background-size: cover;
  height: calc(100vh - 64px);
}
.section1 .presentationArcadia {
  backdrop-filter: blur(180px) saturate(180%);
  -webkit-backdrop-filter: blur(180px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  position: absolute;
}
.section1 .presentationArcadia p {
  font-family: "MaPoliceTexte";
  font-weight: 700;
}
.section1 .presentationArcadia p span {
  font-family: "MaPolice";
  text-transform: uppercase;
  font-weight: 900;
  color: rgb(0, 71, 0);
}

.sectionHabitats {
  background: url("../pictures/giraf.jpg"); /* pour anciens Chrome et Safari */
  background-size: cover;
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr; /* 1/3 pour la première colonne, 2/3 pour la deuxième */
  gap: 10px; /* Ajustez selon vos besoins */
  align-items: center;
  justify-content: end;
  flex-grow: 1;
}
.sectionHabitats h1 {
  grid-column: 1/-1;
  color: rgb(0, 71, 0);
  font-family: "MaPolice";
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.sectionHabitats .horizontal-scroll-section {
  grid-column: 2;
  overflow-x: auto;
  display: flex;
  white-space: nowrap;
  align-items: center;
  position: relative;
}
.sectionHabitats .horizontal-scroll-section .scroll-content {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
}
.sectionHabitats .horizontal-scroll-section .scroll-content h4 {
  font-family: "MaPolice";
  color: rgb(0, 71, 0);
}
.sectionHabitats .horizontal-scroll-section .scroll-content .habitatDiv {
  min-width: 300px;
  margin: 0.1rem;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}
.sectionHabitats .horizontal-scroll-section .scroll-content .habitatDiv img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.sectionHabitats .horizontal-scroll-section button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
}
.sectionHabitats .horizontal-scroll-section button:focus {
  outline: none;
}
.sectionHabitats .horizontal-scroll-section button.scroll-left {
  left: 0;
}
.sectionHabitats .horizontal-scroll-section button.scroll-right {
  right: 0;
}

@media screen and (min-width: 900px) {
  .sectionHabitats h1 {
    font-size: 3rem;
  }
  .sectionHabitats .horizontal-scroll-section .scroll-content h4 {
    font-size: 2rem;
  }
  .sectionHabitats .horizontal-scroll-section .scroll-content .habitatDiv {
    min-width: 30vw;
  }
}
@media screen and (min-width: 480px) and (max-width: 900px) {
  .sectionHabitats .horizontal-scroll-section .scroll-content .habitatDiv {
    min-width: 35vw;
  }
}
@media screen and (max-width: 480px) {
  .sectionHabitats .horizontal-scroll-section .scroll-content .habitatDiv {
    min-width: 60vw;
  }
}
.sectionServices {
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0;
}
.sectionServices h1 {
  color: rgb(0, 71, 0);
  font-family: "MaPolice";
  text-transform: uppercase;
  padding-bottom: 1rem;
  margin: 0;
}
.sectionServices .containerCarroussel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.sectionServices .containerCarroussel .carroussel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
.sectionServices .containerCarroussel .carroussel .carrousselUnits {
  font-family: "MaPoliceTexte";
  padding: 1rem;
}
.sectionServices .containerCarroussel .carroussel .carrousselUnits img, .sectionServices .containerCarroussel .carroussel .carrousselUnits div {
  min-width: 200px;
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: 30px;
  margin: 0.5rem;
}
.sectionServices .containerCarroussel .btnServices {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
  margin: 0;
}
.sectionServices .containerCarroussel .btnServices:focus {
  outline: none;
}
.sectionServices .containerCarroussel .btnLeft {
  left: 0;
}
.sectionServices .containerCarroussel .btnRight {
  right: 0;
}

@media screen and (min-width: 900px) {
  .sectionServices h1 {
    font-size: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .sectionServices .carroussel .carrousselUnits {
    font-size: 1rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 900px) {
  .sectionServices h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .sectionServices .carroussel .carrousselUnits {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 480px) {
  .sectionServices h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .sectionServices .carroussel .carrousselUnits {
    font-size: 0.8rem;
  }
}
.sectionEcology {
  text-align: center;
}
.sectionEcology h1 {
  color: rgb(0, 71, 0);
  font-family: "MaPolice";
  text-transform: uppercase;
  padding-bottom: 4rem;
}
.sectionEcology .ecologyMenu {
  text-align: left;
  display: flex;
  justify-content: center;
}
.sectionEcology .ecologyMenu #menu {
  padding-left: 6rem;
}
.sectionEcology .ecologyMenu #menu .menuBtn {
  background-color: rgb(0, 71, 0);
  color: #ffffff;
  font-family: "MaPoliceTexte";
  font-size: 1.2rem;
  font-weight: 700;
  width: 10rem;
  height: 10rem;
  border: 0.3rem solid rgb(0, 71, 0);
  border-radius: 100%;
  list-style-type: none;
}
.sectionEcology .ecologyMenu #menu .menuBtn:hover {
  background-color: #3d6600;
  cursor: pointer;
}
.sectionEcology .ecologyMenu #menu .items {
  pointer-events: none;
  opacity: 0;
  transition: opacity 2s ease;
}
.sectionEcology .ecologyMenu #menu .items .menuItem {
  position: relative;
}
.sectionEcology .ecologyMenu #menu .items .menuItem .itemBtn {
  pointer-events: auto;
  background-color: rgb(0, 71, 0);
  color: #ffffff;
  border: 0.3rem solid rgb(0, 71, 0);
  border-radius: 100%;
}
.sectionEcology .ecologyMenu #menu .items .menuItem .itemBtn:hover {
  background-color: #3d6600;
  cursor: pointer;
}
.sectionEcology .ecologyMenu #menu .items .item1 {
  right: 4rem;
}
.sectionEcology .ecologyMenu #menu .items .item1 button {
  width: 2rem;
  height: 2rem;
}
.sectionEcology .ecologyMenu #menu .items .item2 {
  bottom: 5rem;
  right: 7rem;
}
.sectionEcology .ecologyMenu #menu .items .item2 button {
  width: 3rem;
  height: 3rem;
}
.sectionEcology .ecologyMenu #menu .items .item3 {
  bottom: 13rem;
  right: 8rem;
}
.sectionEcology .ecologyMenu #menu .items .item3 button {
  width: 4rem;
  height: 4rem;
}
.sectionEcology .ecologyMenu #menu .items .item4 {
  bottom: 23rem;
  right: 6rem;
}
.sectionEcology .ecologyMenu #menu .items .item4 button {
  width: 5rem;
  height: 5rem;
}
.sectionEcology .ecologyMenu #menu .itemsShow {
  opacity: 1;
}
.sectionEcology .ecologyMenu .encart {
  padding-left: 3rem;
  width: 50%;
  font-family: "MaPoliceTexte";
  font-size: 1.2rem;
  font-weight: 600;
}
.sectionEcology .ecologyMenu .encart h6 {
  color: rgb(0, 71, 0);
  font-family: "MaPolice";
  text-transform: uppercase;
  font-size: 1.4rem;
}

.sectionView {
  text-align: center;
}
.sectionView h1 {
  color: rgb(0, 71, 0);
  font-family: "MaPolice";
  text-transform: uppercase;
  padding-bottom: 1rem;
  margin: 0;
}
.sectionView .viewList {
  display: flex;
  align-items: start;
  justify-content: left;
  text-align: left;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 1rem;
  margin: 0;
}
.sectionView .viewList .viewUnit {
  font-family: "MaPoliceTexte";
  min-width: 300px;
  width: 300px;
  height: 200px;
  border: 2px solid #408e2a;
  border-radius: 30px;
  padding: 0.5rem;
  margin: 0.5rem;
  overflow: scroll;
}
.sectionView .viewList .viewUnit span {
  font-weight: 600;
}
.sectionView .viewForm {
  font-family: "MaPoliceTexte";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.sectionView .viewForm h4 {
  color: rgb(0, 71, 0);
  text-transform: uppercase;
}
.sectionView .viewForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: linear-gradient(0deg, rgb(0, 71, 0) 0%, rgb(0, 102, 102) 100%);
  width: 75%;
  color: #ffffff;
  border-radius: 10px;
  margin: 0.5rem;
}
.sectionView .viewForm form input {
  font-family: "MaPoliceTexte";
  padding: 0.3rem;
  font-size: 1rem;
  width: 75%;
  border-radius: 5px;
  color: rgb(0, 71, 0);
}
.sectionView .viewForm form textarea {
  font-family: "MaPoliceTexte";
  width: 75%;
  height: 6rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  box-sizing: border-box;
  font-size: 1rem;
  color: rgb(0, 71, 0);
}
.sectionView .viewForm form button {
  font-family: "MaPoliceTexte";
  text-transform: uppercase;
  border-radius: 20px;
  padding: 0.3rem;
  color: rgb(0, 71, 0);
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .section1 .presentationArcadia {
    width: 35%;
    right: 3rem;
    top: 6rem;
    padding: 4rem;
    font-size: 1.8rem;
  }
  .sectionEcology h1 {
    padding-top: 3rem;
    font-size: 3rem;
  }
  .sectionView h1 {
    padding-top: 3rem;
    font-size: 3rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 900px) {
  .section1 .presentationArcadia {
    width: 50%;
    right: 3rem;
    top: 6rem;
    padding: 4rem;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 480px) {
  .section1 .presentationArcadia {
    width: 100%;
    top: 15rem;
    padding: 0.5rem;
    font-size: 1rem;
  }
  .sectionHabitats {
    text-align: center;
  }
  .sectionHabitats h1 {
    color: rgb(0, 71, 0);
    padding-top: 1rem;
  }
  .sectionHabitats .habitatListDiv {
    display: flex;
    text-align: center;
  }
  .sectionHabitats .habitatListDiv .habitatDiv {
    padding: 0.2rem;
  }
  .sectionHabitats .habitatListDiv .habitatDiv img {
    width: 150px;
    height: auto;
  }
  .sectionEcology h1 {
    padding-bottom: 4rem;
  }
  .sectionEcology .ecologyMenu {
    display: block;
  }
  .sectionEcology .ecologyMenu #menu .menuBtn {
    font-size: 0.9rem;
    font-weight: 500;
    width: 6rem;
    height: 6rem;
  }
  .sectionEcology .ecologyMenu #menu .items .item1 {
    bottom: 1rem;
    right: 1rem;
  }
  .sectionEcology .ecologyMenu #menu .items .item1 button {
    width: 2rem;
    height: 2rem;
  }
  .sectionEcology .ecologyMenu #menu .items .item2 {
    bottom: 5rem;
    right: 3rem;
  }
  .sectionEcology .ecologyMenu #menu .items .item2 button {
    width: 2.2rem;
    height: 2.2rem;
  }
  .sectionEcology .ecologyMenu #menu .items .item3 {
    bottom: 10rem;
    right: 4rem;
  }
  .sectionEcology .ecologyMenu #menu .items .item3 button {
    width: 2.5rem;
    height: 2.5rem;
  }
  .sectionEcology .ecologyMenu #menu .items .item4 {
    bottom: 16rem;
    right: 4rem;
  }
  .sectionEcology .ecologyMenu #menu .items .item4 button {
    width: 3.1rem;
    height: 3.1rem;
  }
  .sectionEcology .ecologyMenu .encart {
    margin-top: -6rem;
    padding: 0.5rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
  }
  .sectionView .viewList .viewUnit {
    min-width: 220px;
    width: 220px;
  }
  .sectionView .viewForm form {
    width: 100%;
  }
  .sectionView .viewForm form input {
    width: 100%;
  }
  .sectionView .viewForm form textarea {
    width: 100%;
  }
}
.section1Connexion {
  background: url("../pictures/fox2.jpg"); /* pour anciens Chrome et Safari */
  background-size: cover;
  height: calc(100vh - 128px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1Connexion .connexionDIV {
  text-transform: uppercase;
  width: 22rem;
}
.section1Connexion .connexionDIV form {
  max-width: 360px;
  text-align: center;
  padding: 0.5rem;
}
.section1Connexion .connexionDIV form input {
  font-family: "MaPoliceTexte";
  background: #f2f2f2;
  width: 100%;
  border-radius: 2rem;
  border: 0;
  margin-bottom: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}
.section1Connexion .connexionDIV form button {
  font-family: "MaPoliceTexte";
  text-transform: uppercase;
  background: #408e2a;
  width: 100%;
  border-radius: 2rem;
  border: 0;
  padding: 1rem;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.section1Connected {
  min-height: calc(100vh - 128px);
  display: flex;
  text-align: center;
  justify-content: center;
}
.section1Connected .dashboardDIV {
  width: 75%;
  padding: 3rem 0.5rem 3rem 0.5rem;
}
.section1Connected .dashboardDIV .managerDIV {
  border-radius: 10px;
  background-color: #006600;
  height: 64px;
  margin: 1rem 0rem 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1Connected .dashboardDIV .managerDIV:hover {
  background-color: #408e2a;
  cursor: pointer;
}
.section1Connected .dashboardDIV #animalsManager h4, .section1Connected .dashboardDIV #animalsReportsManager h4, .section1Connected .dashboardDIV #habitatsReportsManager h4, .section1Connected .dashboardDIV #servicesManager h4, .section1Connected .dashboardDIV #habitatsManager h4, .section1Connected .dashboardDIV #accountsManager h4, .section1Connected .dashboardDIV #hoursManager h4,
.section1Connected .dashboardDIV #reviewManager h4, .section1Connected .dashboardDIV #animalMealManager h4, .section1Connected .dashboardDIV #animalReportEditionManager h4, .section1Connected .dashboardDIV #habitatReportEditionManager h4, .section1Connected .dashboardDIV #animalMealViewManager h4 {
  font-family: "MaPolice";
  font-size: 2rem;
  color: #ffffff;
}
.section1Connected .dashboardDIV #animalsManagerBody, .section1Connected .dashboardDIV #servicesManagerBody, .section1Connected .dashboardDIV #habitatsManagerBody, .section1Connected .dashboardDIV #accountsManagerBody {
  text-align: center;
  font-family: "MaPoliceTexte";
}
.section1Connected .dashboardDIV #animalsManagerBody .generalDIV, .section1Connected .dashboardDIV #servicesManagerBody .generalDIV, .section1Connected .dashboardDIV #habitatsManagerBody .generalDIV, .section1Connected .dashboardDIV #accountsManagerBody .generalDIV {
  margin: 1rem;
  padding: 1rem;
  border: solid 1px #006600;
  border-radius: 10px;
}
.section1Connected .dashboardDIV #animalsManagerBody .generalDIV h4, .section1Connected .dashboardDIV #servicesManagerBody .generalDIV h4, .section1Connected .dashboardDIV #habitatsManagerBody .generalDIV h4, .section1Connected .dashboardDIV #accountsManagerBody .generalDIV h4 {
  font-family: "MaPolice";
  font-size: 2rem;
  color: #006600;
}
.section1Connected .dashboardDIV #animalsManagerBody .generalDIV form, .section1Connected .dashboardDIV #servicesManagerBody .generalDIV form, .section1Connected .dashboardDIV #habitatsManagerBody .generalDIV form, .section1Connected .dashboardDIV #accountsManagerBody .generalDIV form {
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
}
.section1Connected .dashboardDIV #animalsManagerBody .generalDIV form input, .section1Connected .dashboardDIV #servicesManagerBody .generalDIV form input, .section1Connected .dashboardDIV #habitatsManagerBody .generalDIV form input, .section1Connected .dashboardDIV #accountsManagerBody .generalDIV form input {
  text-align: center;
  font-family: "MaPoliceTexte";
  background: #f2f2f2;
  width: 100%;
  border-radius: 2rem;
  border: 0;
  margin-bottom: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}
.section1Connected .dashboardDIV #animalsManagerBody .generalDIV form textarea, .section1Connected .dashboardDIV #servicesManagerBody .generalDIV form textarea, .section1Connected .dashboardDIV #habitatsManagerBody .generalDIV form textarea, .section1Connected .dashboardDIV #accountsManagerBody .generalDIV form textarea {
  font-family: "MaPoliceTexte";
  background: #f2f2f2;
  width: 100%;
  height: 6rem;
  border-radius: 2rem;
  border: 0;
  margin-bottom: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}
.section1Connected .dashboardDIV #animalsManagerBody .generalDIV form button, .section1Connected .dashboardDIV #servicesManagerBody .generalDIV form button, .section1Connected .dashboardDIV #habitatsManagerBody .generalDIV form button, .section1Connected .dashboardDIV #accountsManagerBody .generalDIV form button {
  font-family: "MaPoliceTexte";
  text-transform: uppercase;
  background: #408e2a;
  width: 50%;
  border-radius: 2rem;
  border: 0;
  padding: 0.5rem;
  margin: 0.5rem;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}
.section1Connected .dashboardDIV #reviewManagerBody .viewList {
  display: flex;
  align-items: start;
  justify-content: left;
  text-align: left;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 1rem;
  margin: 0;
}
.section1Connected .dashboardDIV #reviewManagerBody .viewList .viewUnit {
  font-family: "MaPoliceTexte";
  min-width: 300px;
  width: 300px;
  height: 250px;
  border: 2px solid #408e2a;
  border-radius: 30px;
  padding: 0.5rem;
  margin: 0.5rem;
  overflow: scroll;
}
.section1Connected .dashboardDIV #reviewManagerBody .viewList .viewUnit span {
  font-weight: 600;
}
.section1Connected .dashboardDIV .managerHide {
  display: none;
}

#habitats {
  min-height: calc(100vh - 128px);
}
#habitats .section1Living {
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0;
  border-bottom: solid 2rem rgb(0, 71, 0);
}
#habitats .section1Living h4 {
  font-family: "MaPolice";
  font-size: 2rem;
  color: rgb(0, 71, 0);
  padding: 0.5rem;
}
#habitats .section1Living .livingsList {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
#habitats .section1Living .livingsList .livingCarroussel {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
#habitats .section1Living .livingsList .livingCarroussel .livingCarrousselUnits {
  font-family: "MaPoliceTexte";
  padding: 0.5rem;
}
#habitats .section1Living .livingsList .livingCarroussel .livingCarrousselUnits img, #habitats .section1Living .livingsList .livingCarroussel .livingCarrousselUnits div {
  min-width: 150px;
  max-width: 200px;
  width: 100%;
  height: auto;
  border-radius: 30px;
  margin: 0.5rem;
  font-size: 1.2rem;
}
#habitats .section1Living .livingsList .livingCarroussel .livingCarrousselUnits img {
  cursor: pointer;
  transition: transform 0.3s ease;
}
#habitats .section1Living .livingsList .livingCarroussel .livingCarrousselUnits img:hover {
  transform: scale(1.1);
}
#habitats .section1Living .livingsList .livingCarroussel .livingCarrousselUnits .filterImg {
  opacity: 0.5;
}
#habitats .section1Living .livingsList .btnLivingsPage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  margin: 0;
}
#habitats .section1Living .livingsList .btnLivingsPage:focus {
  outline: none;
}
#habitats .section1Living .livingsList .btnLeftLivings {
  left: 0;
}
#habitats .section1Living .livingsList .btnRightLivings {
  right: 0;
}
#habitats .livingDescription {
  text-align: center;
  border-top: solid 0.5rem rgba(0, 71, 0, 0.7);
}
#habitats .livingDescription .lvgCorps {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#habitats .livingDescription .lvgCorps .presLvg {
  display: flex;
  flex-direction: column;
}
#habitats .livingDescription .lvgCorps .presLvg h4 {
  font-family: "MaPolice";
  font-size: 2rem;
  color: rgb(0, 71, 0);
}
#habitats .livingDescription .lvgCorps .presLvg p {
  font-family: "MaPoliceTexte";
  font-size: 1.5rem;
  padding: 0.2rem 1rem 1rem 1rem;
}
#habitats .livingDescription .lvgCorps .hideLvg {
  display: none;
}
#habitats .livingDescription .lvgAnimalsList {
  font-family: "MaPoliceTexte";
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
  overflow: auto;
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
}
#habitats .livingDescription .lvgAnimalsList .animalUnit {
  max-height: 350px;
}
#habitats .livingDescription .lvgAnimalsList .animalUnit img {
  min-width: 300px;
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 30px;
  margin: 1rem 0.5rem 1rem 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#habitats .livingDescription .lvgAnimalsList .animalUnit img:hover {
  transform: scale(1.1);
}
#habitats .livingDescription .lvgAnimalsList .animalUnit .hideImg {
  display: none;
}
#habitats .livingDescription .lvgAnimalsList .animalUnit .animalInfos {
  font-family: "MaPoliceTexte";
  min-height: 30px;
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 30px;
  margin: 1rem 0.5rem 1rem 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 71, 0, 0.7);
  color: white;
  transition: transform 0.5s ease;
}
#habitats .livingDescription .lvgAnimalsList .animalUnit .animalInfos h4 {
  padding: 0.5rem;
  text-transform: uppercase;
}
#habitats .livingDescription .lvgAnimalsList .animalUnit .animalInfos .hide {
  display: none;
}
#habitats .livingDescription .lvgAnimalsList .animalUnit .animalInfos .show {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  height: 230px;
}
#habitats .livingDescription .lvgAnimalsList .animalUnit .animalInfosHide {
  display: none;
}
#habitats .livingDescription .lvgAnimalsList .animalUnit .animalInfosExpand {
  position: relative;
  transform: translateY(-300px); /* Transformez l'élément vers le haut de 300px */
  transition: transform 0.5s ease;
}

@media screen and (max-width: 900px) {
  #habitats .section1Living h4 {
    font-size: 1.2rem;
  }
  #habitats .section1Living .livingsList .livingCarroussel .livingCarrousselUnits img, #habitats .section1Living .livingsList .livingCarroussel .livingCarrousselUnits div {
    font-size: 0.9rem;
  }
  #habitats .livingDescription .lvgCorps .presLvg h4 {
    font-size: 1.2rem;
  }
  #habitats .livingDescription .lvgAnimalsList {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  #habitats .livingDescription .lvgAnimalsList .animalUnit {
    max-height: 250px;
  }
  #habitats .livingDescription .lvgAnimalsList .animalUnit img {
    min-width: 200px;
    max-width: 200px;
    margin: 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  #habitats .livingDescription .lvgAnimalsList .animalUnit img:hover {
    transform: scale(1.1);
  }
  #habitats .livingDescription .lvgAnimalsList .animalUnit .animalInfos {
    max-width: 200px;
    font-size: 0.9rem;
    overflow: scroll;
  }
  #habitats .livingDescription .lvgAnimalsList .animalUnit .animalInfos .show {
    height: 150px;
  }
  #habitats .livingDescription .lvgAnimalsList .animalUnit .animalInfosExpand {
    transform: translateY(-200px); /* Transformez l'élément vers le haut de 300px */
  }
}
#services {
  min-height: calc(100vh - 128px);
}
#services .section1Service {
  text-align: center;
  position: relative;
  padding: 0;
  margin: 0;
}
#services .section1Service h4 {
  font-family: "MaPolice";
  font-size: 2rem;
  color: rgb(0, 71, 0);
  padding: 0.5rem;
}
#services .section1Service .servicesList {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
#services .section1Service .servicesList .serviceCarroussel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
#services .section1Service .servicesList .serviceCarroussel .serviceCarrousselUnits {
  font-family: "MaPoliceTexte";
  padding: 1rem;
}
#services .section1Service .servicesList .serviceCarroussel .serviceCarrousselUnits img, #services .section1Service .servicesList .serviceCarroussel .serviceCarrousselUnits div {
  min-width: 200px;
  max-width: 600px;
  width: 100%;
  height: auto;
  border-radius: 30px;
  margin: 0.5rem;
  font-size: 1.2rem;
}
#services .section1Service .servicesList .btnServicesPage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  margin: 0;
}
#services .section1Service .servicesList .btnServicesPage:focus {
  outline: none;
}
#services .section1Service .servicesList .btnLeftServices {
  left: 0;
}
#services .section1Service .servicesList .btnRightServices {
  right: 0;
}

@media screen and (max-width: 480px) {
  #services .section1Service h4 {
    font-size: 1.2rem;
  }
  #services .section1Service .servicesList .serviceCarroussel .serviceCarrousselUnits img, #services .section1Service .servicesList .serviceCarroussel .serviceCarrousselUnits div {
    min-width: 150px;
    font-size: 0.9rem;
  }
}
#contact .section1Contact {
  height: calc(100vh - 128px);
  background: url("../pictures/fox2.jpg"); /* pour anciens Chrome et Safari */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#contact .section1Contact .contactDIV {
  text-transform: uppercase;
  width: 25rem;
  height: 75%;
  text-align: center;
}
#contact .section1Contact .contactDIV h1 {
  font-family: "MaPolice";
  font-size: 2rem;
  color: #3d6600;
}
#contact .section1Contact .contactDIV .contactFormDIV {
  text-align: center;
  font-family: "MaPoliceTexte";
}
#contact .section1Contact .contactDIV .contactFormDIV form {
  text-align: center;
  padding: 0.5rem;
}
#contact .section1Contact .contactDIV .contactFormDIV form input {
  font-family: "MaPoliceTexte";
  background: #f2f2f2;
  width: 100%;
  border-radius: 2rem;
  border: 0;
  margin-bottom: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}
#contact .section1Contact .contactDIV .contactFormDIV form textarea {
  font-family: "MaPoliceTexte";
  background: #f2f2f2;
  width: 100%;
  height: 6rem;
  border-radius: 2rem;
  border: 0;
  margin-bottom: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}
#contact .section1Contact .contactDIV .contactFormDIV form button {
  font-family: "MaPoliceTexte";
  text-transform: uppercase;
  background: #408e2a;
  width: 100%;
  border-radius: 2rem;
  border: 0;
  padding: 1rem;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  #contact .section1Contact .contactDIV {
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #contact .section1Contact .contactDIV h1 {
    font-size: 1.5rem;
  }
  #contact .section1Contact .contactDIV .contactFormDIV form input {
    height: 1.5rem;
    padding: 0.7rem;
  }
}
#infos {
  min-height: calc(100vh - 128px);
  text-align: center;
}
#infos .section1Infos {
  display: grid;
}
#infos .section1Infos h4 {
  font-family: "MaPolice";
  font-size: 2rem;
  color: rgb(0, 71, 0);
  padding: 0.5rem;
}

@media screen and (max-width: 480px) {
  #infos .section1Infos h4 {
    font-size: 1.2rem;
  }
}
#about {
  min-height: calc(100vh - 128px);
  text-align: center;
}
#about .section1About .aboutDIV h4, #about .section1About .aboutDIV h5 {
  font-family: "MaPolice";
  font-size: 2rem;
  color: rgb(0, 71, 0);
  padding: 0.5rem;
}
#about .section1About .aboutDIV .legalsInfos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
#about .section1About .CGUDIV h4 {
  font-family: "MaPolice";
  font-size: 2rem;
  color: rgb(0, 71, 0);
  padding: 0.5rem;
}
#about .section1About .imgCredits h4 {
  font-family: "MaPolice";
  font-size: 2rem;
  color: rgb(0, 71, 0);
  padding: 0.5rem;
}

@media screen and (max-width: 480px) {
  #about .section1About h4 {
    font-size: 1.2rem;
  }
}
footer {
  background-color: #122638;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 64px;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer .infosArcadiaDIV {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.2rem;
}
footer .infosArcadiaDIV a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}
footer .infosArcadiaDIV a:hover {
  color: #408e2a;
}
footer .CGUDIV {
  padding: 0.2rem;
}
footer .CGUDIV a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}
footer .CGUDIV a:hover {
  color: #408e2a;
}/*# sourceMappingURL=styles.css.map */